Django
djangorestframework
djangorestframework_simplejwt
django_jalali
django-phonenumber-field
django-nested-admin
django-admin-inline-paginator
django-admin-extra-buttons
django-filter
django-admin-sortable2
django-debug-toolbar
django-cors-headers


phonenumbers
django-redis
psycopg2-binary==2.9.9
redis==5.2.1
lz4
mimetype
celery
django-environ
gunicorn
mutagen
rarfile
daphne
channels-redis
channels
sentry-sdk
faker


drf-spectacular
drf-spectacular[sidecar]

pillow

ghasedak_sms
zarinpal-py-sdk
httpx==0.28.1
