Django
djangorestframework
djangorestframework_simplejwt
django_jalali
django-redis
psycopg2-binary==2.9.9
redis
celery
django-environ
gunicorn

drf-spectacular
drf-spectacular[sidecar]

pillow
# ghasedak_sms
# zarinpal-py-sdk
